.death-knight-text {
	color: #C41F3B;
}

.druid-text {
	color: #FF7D0A;
}

.hunter-text {
	color: #ABD473;
}

.mage-text {
	color: #69CCF0;
}

.monk-text {
	color: #00FF96;
}

.paladin-text {
	color: #F58CBA;
}

.priest-text {
	color: #FFFFFF;
}

.rogue-text {
	color: #FFF569;
}

.shaman-text {
	color: #0070DE;
}

.warlock-text {
	color: #9482C9;
}

.warrior-text {
	color: #C79C6E;
}