<!DOCTYPE html>
<html data-ng-app="ruckus">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Ask Mr. Ruckus BETA</title>
<link rel="stylesheet" type="text/css"
	href="static/external/css/bootstrap-3.3.4.css">
<link rel="stylesheet" type="text/css"
	href="static/css/style.css">
<link rel="stylesheet" type="text/css"
	href="static/css/animations.css">
<link rel="stylesheet" type="text/css"
	href="static/css/classes.css">
</head>
<body data-ng-controller="SiteCtrl">
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<span class="navbar-brand" href="#">Ask Mr. Ruckus BETA</span>
			</div>
			<div id="navbar">
				<ul class="nav navbar-nav navbar-right">
					<li data-ng-repeat="lang in settings.availableLang" data-ng-class="{ active: isActive(lang) }"><a href="#" data-ng-bind="lang" data-ng-click="setLanguage(lang)"></a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container ng-cloak">
		<div class="row" data-ng-controller="OptimizeCtrl">
			<div data-ng-if="!loadedCharacter" class="col-sm-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<form name="characterForm">
							<div class="form-group">
								<label>{{ strings.CHARACTER_NAME }}:
									<span class="text-danger" data-ng-if="characterForm.name.$error.minlength">({{ strings.TOO_SHORT }})</span>
								</label>
								<input type="text" data-ng-minlength="3" data-ng-required="true" name="name"
									data-ng-model="character.name" class="form-control" autocomplete="off" autofocus="autofocus">
							</div>
							<div class="form-group">
								<label>{{ strings.SERVER_NAME }}:
									<span class="text-danger" data-ng-if="characterForm.realm.$error.minlength">({{ strings.TOO_SHORT }})</span>
								</label>
								<input type="text" data-ng-minlength="3" data-ng-required="true" name="realm"
									data-ng-model="character.realm" class="form-control" autocomplete="off" autofocus="autofocus">
							</div>
							<button data-ng-disabled="characterForm.$invalid || !retrieveEnabled" data-ng-click="retrieve(character)" class="btn btn-primary">{{ strings.LOAD }}</button>
							<span class="text-danger" data-ng-bind="errorMsg"></span>
						</form>
					</div>
				</div>
			</div>
			<div data-ng-if="loadedCharacter" class="col-sm-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<h3>
							{{ strings.OPTIMIZATIONS_FOR }}
							<span class="{{ classCss }}" data-ng-bind="loadedCharacter.name"></span>
							@
							<span data-ng-bind="loadedCharacter.realm"></span>
						</h3>
						<div data-ng-if="optimized">
							<p>
								<span data-ng-bind="optimized.actualPresses"></span> {{ strings.OUT_OF }}
								<span data-ng-bind="optimized.possiblePresses"></span> {{ strings.POSSIBLE_BUTTONS_PRESSED }}.
							</p>
							<p>
								<span data-ng-bind="(optimized.value | number: 3) + '%'"></span> {{ strings.OPTIMAL }}.
							</p>
							<progressbar type="info" value="optimized.value" class="progress-striped active"></progressbar>
						</div>
						<button data-ng-disabled="!optimizeEnabled" data-ng-click="optimize(loadedCharacter)" class="btn btn-primary">{{ strings.REOPTIMIZE }}</button>
						<button data-ng-disabled="!optimizeEnabled" data-ng-click="reset()" class="btn btn-primary">{{ strings.RESET }}</button>
					</div>
				</div>
			</div>
		</div>
		<div class="row" data-ng-controller="ScoreCtrl">
			<div class="col-sm-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<span data-ng-bind="strings.HIGHSCORES"></span>
					</div>
					<div class="panel-body">
						<span><scorelist scores="scores.highscore"></scorelist>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<span data-ng-bind="strings.LOWSCORES"></span>
					</div>
					<div class="panel-body">
						<scorelist scores="scores.lowscore"></scorelist>
					</div>
				</div>
			</div>
			<div data-ng-controller="ClickCtrl" class="col-sm-4">
				<div class="row">
					<div class="col-xs-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<span data-ng-bind="strings.CLICKSCORES"></span>
							</div>
							<div class="panel-body">
								<div class="clicks">
									<div data-ng-repeat="click in clicks" class="row click">
										<div class="col-xs-8">
											<span class="{{ click.classCss }}" data-ng-bind="click._id.name"></span>-<span data-ng-bind="click._id.realm"></span>
										</div>
										<div class="col-xs-4">
											<span data-ng-bind="click.count"></span>
										</div>
									</div>
								</div>
							</div>
							<div class="panel-footer">
								<span data-ng-bind="strings.TOTAL_CLICKS"></span>:
								<span data-ng-bind="totalClicks"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<span data-ng-bind="strings.TOP_AVERAGES"></span>
							</div>
							<div class="panel-body">
								<div class="clicks">
									<div data-ng-repeat="average in averages" class="row average">
										<div class="col-xs-8">
											<span class="{{ average.classCss }}" data-ng-bind="average._id.name"></span>-<span data-ng-bind="average._id.realm"></span>
										</div>
										<div class="col-xs-4">
											<span data-ng-bind="average.average | number: 3"></span>%
										</div>
									</div>
								</div>
							</div>
							<div class="panel-footer">
								<span data-ng-bind="strings.TOTAL_AVERAGE"></span>:
								<span data-ng-bind="totalAverage | number: 3"></span>%
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="static/external/js/jquery-2.1.4.js"></script>
	<script src="static/external/js/angular-1.4.3.js"></script>
	<script src="static/external/js/angular-resource-1.4.3.js"></script>
	<script src="static/external/js/angular-animate-1.4.3.js"></script>
	<script src="static/external/js/angular-cookies-1.4.3.js"></script>
	<script src="static/external/js/angular-load-0.2.0.js"></script>
	<script src="static/external/js/ui-bootstrap-tpls-0.13.0.js"></script>
	<script src="static/js/app.js"></script>
</body>
</html>